/* Center align the main container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  color: #333;
}

.button-container {
  display: flex;
  gap: 20px; /* Increased gap between buttons */
  margin-top: 10px;
}
.struct-container {
  max-height: 600px; /* Adjust as necessary */
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 80%;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.struct-item {
  margin: 10px 0;
}

.struct-icon {
  font-size: 14px;
  margin-left: 5px;
  color: #777;
}

.type-select {
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* .submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* .submit-button:hover {
  background-color: #0056b3;
} */

.note {
  font-size: 14px;
  color: #555;
  /* position: absolute; */
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}


button {
  padding: 10px 10px;
  gap: 40px; /* Increased gap between buttons */
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #0d6dec;
  color: white;
}

button:hover {
  background-color: #1d09f1;
}